/******************  Header Styling  *******************/
body{

	font-family: 'Raleway', sans-serif;
}

header{

  	background:#4D4F51;
  	margin:auto;
  	height:50px;
  	width:100%;
  	color:white;
  	position:fixed;
  	z-index:2;
  	
  
  	

  
}


div{
	height: 75px;
	width: 75px;
	margin:auto;
	background: #ED891B;
	margin-top:0;
	border-radius: 0 0 100% 100%;
}
/*****************  Image Gallery  ******************/

img {

	width:100%;
	height:auto;

	

}

.gallery{

	padding-top:50px;
}



/*****************  Image Paragraphs and Headings  ******************/

p, 
h1{
	text-align: left;
	padding:0 20px;
	font-size:16px;
	font-weight: 300;
	z-index:2;
	margin-top:-50;



}

.gallery h1 {
	font-size:16px;
	font-weight: normal;

}

/*****************  MEDIA QUERIES (TABLET) ******************/

@media (min-width: 768px) {
/*Body Styles*/
body{



}

/* Header Styles */

div{
	height: 100px;
	width: 100px;
}
/*Gallery*/
.main-content{

	
	width:100%;
	height:100%;
	margin:auto;

}

.gallery{

	width:100%;
	height:500px;
	
}

.gallery img{

	margin-top:0px;


}

article{

	width:50%;
	float:left;
	margin-top:0;
	
}
.bottom{

	margin-bottom:25px;
}

/*Img gallery Paragraphs*/
p{

	display: inline-block;
}

p,
h1{
	padding: 1px 10px 1px 10px;
	font-size: 12px;
	margin-bottom:2px;

}

}

footer{

	clear:both;
	height:100px;
	text-align:center;
	margin:auto;
	width:100%;
	background: gray;


}

/*****************  MEDIA QUERIES (DESKTOP) ******************/

@media (min-width: 1024px) {

body{

	background: white;

}
/* Header Styling*/
header{

	margin-bottom:50px;
}

div{
	height: 100px;
	width: 100px;
	float:left;
	margin-left:14.4%;
}

.nav {

	margin-right:14.4%;
}
.nav li{

	float:right;
	display:inline-block;
	text-decoration: none;
	list-style: none;
	padding: 0 0px 0px 20px;
	color:#ED891B;


}

.nav li:hover{

	color:white;
}

/*Gallery*/
.main-content{

	
	max-width:75%;
	height:100%;
	margin:auto;

}

.gallery{

	width:100%;
	height:500px;
	padding-top:150px;
	
}

.gallery img{

	margin-bottom: 10%;


}

.gallery img:hover{

	opacity: .5;

}

article{

	width:45%;
	float:left;
	margin-top:0;
	margin-left:2.5%;
	margin-right:2.5%;
	
}
.bottom{

	margin-bottom:25px;
}


}























