/******************Header Styling*******************/
body{

	font-family: 'Raleway', sans-serif;
}

header{

  	background:gray;
  	margin:auto;
  	height:3em;
  	width:100%;
  	color:white;  
  
}

/*****************Image Gallery******************/

img {

	width:100%;
	height:auto;


}

img[src*="logo"]{

	float:left;
	height:50px;
	width: 50px;
	margin:0;
}

/*****************Image Paragraphs and Headings******************/

p, 
h1{
	text-align: left;
	padding:0 20px;
	font-size:16px;
	font-weight: 300;


}

.gallery h1 {
	font-size:25px;
	font-weight: normal;
}