/******************  Header Styling  *******************/
body{

	font-family: 'Raleway', sans-serif;
}

header{

  	background:gray;
  	margin:auto;
  	height:100px;
  	width:100%;
  	color:white; 
  	

  
}

img[src*="feaster"]{

	height:100px;
	width: 100px;
	margin:0;
	float:left;
	
}
/*****************  Image Gallery  ******************/

img {

	width:100%;
	height:auto;


}



/*****************  Image Paragraphs and Headings  ******************/

p, 
h1{
	text-align: left;
	padding:0 20px;
	font-size:16px;
	font-weight: 300;


}

.gallery h1 {
	font-size:25px;
	font-weight: normal;
}

/*****************  MEDIA QUERIES (TABLET) ******************/

@media (min-width: 768px) {
/*Body Styles*/
body{

	background: teal;

}
/*Gallery*/
.main-content{

	
	width:90%;
	height:100%;
	margin:auto;

}

.gallery{

	width:100%;
	height:500px;
	
}

.gallery img{

	margin-top:50px;


}

article{

	width:45%;
	float:left;
	margin-left:2.5%;
	margin-right:2.5%;
	margin-top:0;
	
}
.bottom{

	margin-bottom:25px;
}

/*Img gallery Paragraphs*/
p{

	display: inline-block;
}

p,
h1{
	padding: 1px 10px 1px 10px;
	font-size: 12px;
	margin-bottom:2px;

}

}

footer{

	clear:both;
	height:100px;
	text-align:center;
	margin:auto;
	width:100%;
	background: gray;


}

/*****************  MEDIA QUERIES (DESKTOP) ******************/

@media (min-width: 1024px) {

body{

	background: white;

}

/*Gallery*/
.main-content{

	
	width:90%;
	height:100%;
	margin:auto;

}

.gallery{

	width:100%;
	height:500px;
	
}

.gallery img{

	margin-top:50px;
	

}

article{

	width:45%;
	float:left;
	margin-left:2.5%;
	margin-right:2.5%;
	margin-top:0;
	
}
.bottom{

	margin-bottom:25px;
}







}























